body {
    background: #ffffff;
}

input, textarea, select, button, option, html, body {
    font-family: Helvetica;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px
}

input, textarea, select, button, option, html, body {
    font-family: Helvetica;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px
}

th {
    font-weight: 600
}

td, th {
    border-bottom: 1.08px solid #595959;
    overflow: auto;
    padding: 14.85px 18px;
    text-align: left;
    vertical-align: top
}

thead th {
    border-bottom-width: 2.16px;
    padding-bottom: 6.3px
}

table {
    display: table;
    overflow-x: auto
}

input, textarea, select, button, option, html, body {
    font-family: Helvetica;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px
}

fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

fieldset legend {
    margin: 18px 0
}

input, textarea, select, button {
    border-radius: 3.6px;
    display: inline-block;
    padding: 9.9px
}

input + label, input + input[type="checkbox"], input + input[type="radio"], textarea + label, textarea + input[type="checkbox"], textarea + input[type="radio"], select + label, select + input[type="checkbox"], select + input[type="radio"], button + label, button + input[type="checkbox"], button + input[type="radio"] {
    page-break-before: always
}

input, select, label {
    margin-right: 3.6px
}

textarea {
    min-height: 90px;
    min-width: 360px
}

label {
    display: inline-block;
    margin-bottom: 12.6px
}

label + * {
    page-break-before: always
}

label > input {
    margin-bottom: 0
}

input[type="submit"], input[type="reset"], button {
    background: #f2f2f2;
    color: #191919;
    cursor: pointer;
    display: inline;
    margin-bottom: 18px;
    margin-right: 7.2px;
    padding: 6.525px 23.4px;
    text-align: center
}

input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
    background: #d9d9d9;
    color: #000
}

input[type="submit"][disabled], input[type="reset"][disabled], button[disabled] {
    background: #e6e5e5;
    color: #403f3f;
    cursor: not-allowed
}

input[type="submit"], button[type="submit"] {
    background: #000090;
    color: #fff
}

input[type="submit"]:hover, button[type="submit"]:hover {
    background: #0000c5;
    color: #ffffff
}

input, select, textarea {
    margin-bottom: 18px
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="phone"], input[type="tel"], input[type="number"], input[type="datetime"], input[type="date"], input[type="month"], input[type="week"], input[type="color"], input[type="time"], input[type="search"], input[type="range"], input[type="file"], input[type="datetime-local"], select, textarea {
    border: 1px solid #595959;
    padding: 5.4px 6.3px
}

input[type="checkbox"], input[type="radio"] {
    flex-grow: 0;
    height: 29.7px;
    margin-left: 0;
    margin-right: 9px;
    vertical-align: middle
}

input[type="checkbox"] + label, input[type="radio"] + label {
    page-break-before: avoid
}

select[multiple] {
    min-width: 270px
}

input, textarea, select, button, option, html, body {
    font-family: Helvetica;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px
}

pre, code, kbd, samp, var, output {
    font-family: Helvetica;
    font-size: 14.4px
}

pre {
    border-left: 1.8px solid #59c072;
    line-height: 25.2px;
    overflow: auto;
    padding-left: 18px
}

pre code {
    background: none;
    border: 0;
    line-height: 29.7px;
    padding: 0
}

code, kbd {
    background: #daf1e0;
    border-radius: 3.6px;
    color: #2a6f3b;
    display: inline-block;
    line-height: 18px;
    padding: 3.6px 6.3px 2.7px
}

kbd {
    background: #2a6f3b;
    color: #fff
}

mark {
    background: #ffc;
    padding: 0 3.6px
}

input, textarea, select, button, option, html, body {
    font-family: Helvetica;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin-bottom: 18px
}

h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 41.4px;
    margin-top: 72px
}

h2 {
    font-size: 25.2px;
    font-weight: 400;
    line-height: 30.6px;
    margin-top: 54px
}

h3 {
    font-size: 21.6px;
    line-height: 27px;
    margin-top: 36px
}

h4 {
    font-size: 18px;
    line-height: 23.4px;
    margin-top: 18px
}

h5 {
    font-size: 14.4px;
    font-weight: bold;
    line-height: 21.6px;
    text-transform: uppercase
}

h6 {
    color: #595959;
    font-size: 14.4px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase
}

input, textarea, select, button, option, html, body {
    font-family: Helvetica;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 29.7px
}

a {
    color: #000090;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

hr {
    border-bottom: 1px solid #595959
}

figcaption, small {
    font-size: 15.3px
}

figcaption {
    color: #595959
}

var, em, i {
    font-style: italic
}

dt, strong, b {
    font-weight: 600
}

del, s {
    text-decoration: line-through
}

ins, u {
    text-decoration: underline
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

* {
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

html, body {
    width: 100%
}

html {
    height: 100%
}

body {
    color: #1a1919;
}

p, ul, ol, dl, blockquote, hr, pre, table, form, fieldset, figure, address {
    margin-bottom: 29.7px
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 780px
}

article, header, footer {
    padding: 43.2px
}

article {
    word-wrap: break-word;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 7.2px
}

nav {
    text-align: center
}

nav ul {
    list-style: none;
    margin-left: 0;
    text-align: center
}

nav ul li {
    display: inline-block;
    margin-left: 9px;
    margin-right: 9px;
    vertical-align: middle
}

nav ul li:last-child {
    margin-right: 0
}

ol, ul {
    margin-left: 31.5px
}

li dl, li ol, li ul {
    margin-bottom: 0
}

dl {
    display: inline-block
}

dt {
    padding: 0 18px
}

dd {
    padding: 0 18px 4.5px
}

dd:last-of-type {
    border-bottom: 1.08px solid #595959
}

dd + dt {
    border-top: 1.08px solid #595959;
    padding-top: 9px
}

blockquote {
    border-left: 2.16px solid #595959;
    padding: 4.5px 18px 4.5px 15.84px
}

blockquote footer {
    color: #595959;
    font-size: 13.5px;
    margin: 0
}

blockquote p {
    margin-bottom: 0
}

img {
    height: auto;
    margin: 0 auto
}

figure img {
    display: block
}

/*# sourceMappingURL=tacit-css-1.3.2.min.css.map */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu-header {
    text-align: left;
    width: 100%;
    margin: 20px auto;
    border-bottom: 1px solid #d9d9d9;
}

.menu-header a {
    white-space: pre;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    padding-right: 5px;
}

header {
    padding: 0 10px;
    width: 780px;
    margin: auto;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#salary-distribution, #salary-trends {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#search-location {
    margin-bottom: 1px;
    border: 1px solid #d9d9d9;
    width: 100%;
}

#search-salary-btn {
    width: 30%;
    float: right;
    margin-right: 0;
}

#search-location-container, #search-tag-container {
    position: relative;
    width: 65%;
    display: inline-block;
}

.search-suggestions {
    z-index: 1;
    width: 100%;
    border: 1px solid #d9d9d9;
    position: absolute;
    background: #fff;
    border-radius: 3.6px;
}

.search-option {
    padding: 5px 10px;
}

.search-option:hover {
    background: #d9d9d9;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #search-salary-btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        float: initial;
    }

    #search-location-container, #search-tag-container {
        width: 100%;
    }
}

#salary-trends svg {
    font-size: 14px;
}

.main-title {
    font-weight: bold;
    margin: 0 0 auto;
    width: 80%;
    color: #000090;
}

.resp-sharing-button__link, .resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
    background-color: #8c0615
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}

.resp-sharing-button--tumblr {
    background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1
}

.resp-sharing-button--google {
    background-color: #dd4b39
}

.resp-sharing-button--google:hover {
    background-color: #c23321
}

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--xing {
    background-color: #1a7576
}

.resp-sharing-button--xing:hover {
    background-color: #114c4c
}

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851
}

.resp-sharing-button--hackernews {
    background-color: #FF6600
}

.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {
    background-color: #FB6200
}

.resp-sharing-button--vk {
    background-color: #507299
}

.resp-sharing-button--vk:hover {
    background-color: #43648c
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
    background-color: #046293;
    border-color: #046293;
}

.resp-sharing-button--reddit {
    background-color: #5f99cf;
    border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
    background-color: #3a80c1;
    border-color: #3a80c1;
}

.resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
    background-color: #1DA851;
    border-color: #1DA851;
}

.resp-sharing-button--hackernews {
    background-color: #FF6600;
    border-color: #FF6600;
}

.resp-sharing-button--hackernews:hover
.resp-sharing-button--hackernews:active {
    background-color: #FB6200;
    border-color: #FB6200;
}

.resp-sharing-button--telegram {
    background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
    background-color: #4B97D1;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #000;
}

.axis .tick line {
    stroke: rgba(0, 0, 0, 0.1);
}

.area {
    stroke-width: 1;
}

.area.outer,
.legend .outer {
    fill: rgba(230, 230, 255, 0.8);
    stroke: rgba(216, 216, 255, 0.8);
}

.area.inner,
.legend .inner {
    fill: rgba(127, 127, 255, 0.8);
    stroke: rgba(96, 96, 255, 0.8);
}

.median-line,
.legend .median-line {
    fill: none;
    stroke: #000;
    stroke-width: 3;
}

.legend .legend-bg {
    fill: rgba(0, 0, 0, 0.5);
    stroke: rgba(0, 0, 0, 0.5);
}

footer {
    padding: 10px;
    width: 780px;
    margin: auto;
}

.subnav {
    width: 100%;
    text-align: left;
    float: left;
    font-size: 12pt;
}

.subnav ul {
    text-align: left;
}

.subnav ul li {
    width: 90%;
}

@media only screen and (max-witdh: 768px) {
    .subnav ul li {
        width: 100%;
    }
}

#feedback {
    border-radius: 5px;
    background: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25) !important;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    font-size: 15px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 9;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 0;
    border-right: 0;
    background: #000090
}

#feedback-box {
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25) !important;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 350px;
}

#feedback-text {
    width: 90%;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 10px;
    line-height: 1rem;
    color: #555;
}

#feedback-email {
    width: 90%;
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 1px;
    margin: auto;
    display: table;
}

#feedback:hover {
    cursor: pointer;
}

#feedback-title:hover {
    cursor: pointer;
}

#feedback-title {
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
}

#feedback-message {
    height: 130px;
    resize: none;
    font-size: 13px;
    border: 1px solid #ccc;
    min-width: 90%;
    padding: 4px;
    max-width: 90%;
    display: table;
    margin: auto;
    margin-top: 10px;
}

#feedback-submit {
    font-size: 13px;
    padding: 4px;
    line-height: 1rem;
    float: right;
    margin-top: 10px;
    width: 50%;
}
