{{ define "apply-box-developer"}}
<article class="apply-box" id="apply-box-developer">
  <h3 id="apply-box-title" style="margin-top: 10px">Create your profile to continue</h3>
  <div id="apply-box-container">
    <p id="profile-info"></p>
    <div style="margin-bottom: 20px; text-align: center">
      {{ range $i, $j := .TopDevelopers }}
      <img
        width="50"
        height="50"
        style="margin-left: -20px; border-radius: 50px; border: 1px solid #aaa"
        src="/x/s/m/{{ .ImageID }}?w=50&h=50"
        title="{{ .Name }}"
        alt="{{ .Name }}"
      />
      {{ end }}
    </div>
    <ul>
      <li>
        <b>48</b> direct messages sent by companies to developers on {{ .SiteName }}
        in the last 30 days
      </li>
      {{ if .DevelopersRegisteredLastMonth }}
      <li><b>{{ .DevelopersRegisteredLastMonth }}</b> developers joined {{ .SiteName }} in the last 30 days</li>
      {{ end }} {{ if .DeveloperProfilePageViewsLastMonth }}
      <li>
        <b>{{ humannumber .DeveloperProfilePageViewsLastMonth }}</b> developer profiles page views in the last 30 days
      </li>
      {{ end }}
      <li>
        Get access to our
        <a href="/{{ .SiteJobCategoryURLEncoded }}-Developer-Salary-Remote" target="_blank">Salary Explorer</a>
      </li>
      <li>
        Get access to exclusive discount on Golang courses <b>up to 25% off</b>
      </li>
      <li>
        Last developer joined <b><time datetime="{{ .LastDevCreatedAt }}">{{ .LastDevCreatedAtHumanized }}</time></b>
      </li>
    </ul>
    <br />
    <input
      type="submit"
      id="apply-submit"
      value="Create Profile"
      onclick="window.location.href='/Join-{{ .SiteJobCategory }}-Community';"
      style="float: right"
    />
  </div>
</article>
{{ end }}
