<!DOCTYPE html>
<html lang="en">
  <head>
    {{ $isRemote := eq .LocationFilter "Remote" }}
        {{ if and .LocationFilter $isRemote }}
	<meta name="yandex-verification" content="96b3163b8551fd06" />
	<title>Remote Companies using Golang in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe</title>
        <link href="/s/img/favicon.ico" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="title" content="Remote Companies using Golang in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe" />
        <meta name="keywords" content="golang, golang {{ .LocationFilter }} companies, companies using go, golang companies, go companies, remote companies" />
	<meta name="description" content="Remote Companies Using Go (Golang) in production and hiring Go engineers in {{ .MonthAndYear }}{{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe" />
	<meta itemprop="name" content="Remote Companies using Golang in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe" />
        <meta itemprop="description" content="Remote Companies Using Go (Golang) in production and hiring Go engineers in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe">
        <meta itemprop="image" content="https://golang.cafe/s/img/cafe.jpg">
        <meta property="og:url" content="https://golang.cafe">
        <meta property="og:type" content="website">
	<meta name="og:title" content="Remote Companies Using Golang in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe" />
        <meta property="og:description" content="Remote Companies Using Go (Golang) in production and hiring Go engineers in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe">
        <meta property="og:image" content="https://golang.cafe/s/img/cafe.jpg">
        <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Remote Companies Using Golang in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe" />
        <meta name="twitter:description" content="Remote Companies Using Go (Golang) in production and hiring Go engineers in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe">
        <link rel="canonical" href="https://golang.cafe/Remote-Companies-Using-Golang" />
	{{ else }}
	<meta name="yandex-verification" content="96b3163b8551fd06" />
	<title>Companies using Golang{{ if .LocationFilter }} in {{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }} in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe</title>
        <link href="/s/img/favicon.ico" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="title" content="Companies using Golang{{ if .LocationFilter }} in {{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }} in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe" />
	<meta name="keywords" content="golang{{ if .LocationFilter }}, golang companies in {{ .LocationFilter}} {{ end }}, companies using go, companies using golang, golang companies" />
	<meta name="description" content="Golang Companies using golang in production and hiring Go engineers{{ if .LocationFilter }} in {{ .LocationFilter }}{{ if .Region }}, {{ .Region }}{{ end }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }} in {{ .MonthAndYear }}" />
	<meta itemprop="name" content="Companies using Golang{{ if .LocationFilter }} in {{ .LocationFilter }}{{ end }} in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe" />
	<meta itemprop="description" content="Companies Using Golang in production and hiring Go engineers{{ if .LocationFilter }} in {{.LocationFilter}}{{ if .Region }}, {{ .Region }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }}{{ end }} in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe">
        <meta itemprop="image" content="https://golang.cafe/s/img/cafe.jpg">
        <meta property="og:url" content="https://golang.cafe">
        <meta property="og:type" content="website">
	<meta name="og:title" content="Companies using Golang{{ if .LocationFilter }} in {{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }} in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe" />
	<meta property="og:description" content="Companies Using Golang in production and hiring Go engineers{{ if .LocationFilter }} in {{.LocationFilter}}{{ if .Region }}, {{ .Region }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }}{{ end }} in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe">
        <meta property="og:image" content="https://golang.cafe/s/img/cafe.jpg">
        <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Companies using Golang{{ if .LocationFilter }} in {{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }} in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe" />
        <meta name="twitter:description" content="Companies Using Golang in production and hiring Go engineers{{ if .LocationFilter }}{{.LocationFilter}} {{ end }}Jobs in {{ .MonthAndYear }} {{ if .ShowPage }} - Page {{ .CurrentPage }} {{ end }} | Golang Cafe">
        <link rel="canonical" href="https://golang.cafe/Companies-Using-Golang{{ if .LocationFilter }}-In-{{.LocationFilter}}{{ end }}" />
	{{ end }}
    <meta name="twitter:image" content="https://golang.cafe/s/img/cafe.jpg">
    <meta name="twitter:site" content="@golangcafe"/>
    <meta name="google-site-verification" content="CsoJdYDgMeIeUO0ylZtiDUb4-VZvb2tCpLTkq3GglVo" />
    <meta name="msvalidate.01" content="E75D7CB7D078DD8E9C2FBA8C285CD656" />
    <link rel="stylesheet" href="/s/css/companies.css">
  </head>
  <body>
    <div id="feedback-box">
	<div id="feedback-title">Feedback</div>
	<div id="feedback-text">Need help? Have any feedback, feature requests or bugs? Submit it here</div>
	<input type="email" name="feedback-email" id="feedback-email" placeholder="Email"/>
	<textarea placeholder="Message" id="feedback-message"></textarea>
	<input type="submit" placeholder="Send" id="feedback-submit"/>
    </div>
    <div id="feedback"><span style="color:#fff;">Feedback</span></div>
    <div id="newsletter-banner">
	Get a weekly email with all new Go jobs
	<input id="newsletter-banner-input" type="text" placeholder="Your Email" />
	<input id="newsletter-banner-submit" type="submit" value="Join {{ .EmailSubscribersCount }}+ others" />
	<div id="newsletter-banner-close">x</div>
    </div>
    <header>
        <nav class="menu-header">
          <small>
            <a href="/">Jobs</a>&bull;
            <a href="/Golang-Developer-Salary-Remote">Salaries</a>&bull;
            <a style="text-decoration: underline;" href="/Companies-Using-Golang">Companies</a>&bull;
            <a href="/Golang-Developers">Developers</a>
            <br>
          </small>
        </nav>
      </header>
  <section style="padding: 0 10px;">
    <p>
        {{ if and .LocationFilter $isRemote }}
            <h1 class="main-title">Remote Companies Using Golang</h1><br/>
        {{ else }}
	<h1 class="main-title">Companies Using Golang{{ if .LocationFilter }} in {{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }}</h1><br/>
        {{ end }}
	<h2 style="font-size:12pt;font-weight:100;margin-top:20px">Explore <b>{{ .TextJobCount }} companies</b> hiring Golang developers {{ if .LocationFilter }} in <b>{{ .LocationFilter }}{{ if .Region }}, {{ .Region }}{{ end }}{{ if .Country }}, {{ .Country }}{{ end }}</b>{{ end }} in {{ .MonthAndYear }} like <b>{{ .TextCompanies }}</b> hiring <b>{{ .TextJobTitles }}</b>. Last post <time datetime="{{ .LastJobPostedAt }}">{{ .LastJobPostedAtHumanized }}</time></h2>
    </p>
    <div style="margin-bottom:10px;">
	<div id="search-location-container">
        <input autocomplete="off" type="text" value="{{ .LocationFilter }}" placeholder="City, Country" id="search-location"/>
	<div id="search-location-suggestions" style="display:none;" class="search-suggestions">
		<div class="search-option">Rome</div>
	</div>
	</div>
        <input type="submit" value="Find Companies" id="search-btn"/>
    </div>
    <div class="overlay-effect" id="overlay-0" onclick="closeApplyPopup();"></div>
    <article class="apply-box" id="apply-box-0">
        <h3 style="margin-top: 10px;">2-Click Apply</h3>
        <p>
            <ol>
                <li>Upload Your CV</li>
                <li>Go to your Inbox &amp; Confirm Your Application</li>
            </ol>
        </p>
        <input type="hidden" name="apply-job-id" id="apply-job-id" value="0" />
        <input type="text" name="apply-email" id="apply-email" placeholder="Your Email" style="width: 100%;"/><br />
        <input type="file" name="apply-cv" id="apply-cv" style="display: none;" onchange="showname()"/>
        <label class="upload-file-label" id="apply-cv-label" style="width:100%;border: 1px solid #595959; border-radius: 3.6px;border-style:dashed;padding: 5.4px 6.3px;" for="apply-cv">Upload Your CV (PDF file only, max 5MB)</label><br />
        <input type="checkbox" id="apply-notify-jobs" name="apply-notify-jobs" checked style="margin: 0 10px 0 0;"><small><label for="apply-notify-jobs">Notify me about new job openings</label></small><br />
        <small>For any enquiries on this job please contact the job poster <code><span id="apply-email-poster">team@golang.cafe</span></code></small>
        <br />
        <br />
        <input type="submit" id="apply-submit" value="Apply" onclick="uploadCV();" style="float: right;">
    </article>
          {{ if .ComplementaryRemote }}
	    <small><b>No Companies</b> Using Golang Found{{ if .LocationFilter }}in <b>{{ .LocationFilter }}</b>{{ end }}</b></small><br /><br />
            <small>Showing {{ len .Companies }} of {{ .TotalCompaniesCount }} <b>Remote</b> Companies Using Golang available instead</small><br />
          {{ else }}
	  <small>{{ len .Companies }} of {{ .TotalCompaniesCount }} Companies using Golang {{ if .LocationFilter }}in <b>{{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}</b>{{ end }} &bull; Sort by <b>Most Recent</b></small><br />
    {{ end }}
          {{ range $i, $j := .Companies }}
              <article class="line-item">
                  <img loading="lazy" width="60" height="60" src="/x/s/m/{{ .IconImageID }}?w=100&h=100" class="job-icon" alt="{{ .Name }} Logo" title="{{ .Name }} Logo" />
                  <div style="float: left;">
			  <a href="/company/{{ .Slug }}" title="{{ .Name }} is Hiring Go (Golang) Engineers"><b>{{ .Name }}</b></a><br />
		  <b>{{ .Locations }}</b>
                  <br />
		  <small><b>Last Job Posted:</b> {{ humantime .LastJobCreatedAt }}</small><br/>
		  <small><b>Golang Job Openings:</b> {{ .ActiveJobCount }}</small>
		  {{ if .Description }}<br /><small>{{ .Description }}</small>{{ end }}
                  </div>
                  <div class="clearfix"></div>
              </article>
          {{ end }}
          <article class="line-item" id="email-subscribe-banner" style="margin-top:10px;">
		  <div style="width: 50%;font-size:15pt;text-align:center;font-weight:bold;display:table;margin:5px auto 20px auto;" id="email-subscribe-item-text">Get a weekly email with all new Go jobs</div>
                <input type="email" name="job-email-subscription" id="job-email-subscription" style="width:50%;margin:10px auto;display:table;border: 1px solid #d9d9d9;" placeholder="Your Email">
		<input type="submit" onclick="subscribe()" id="email-subscribe-item-btn" value="Join {{ .EmailSubscribersCount }}+ others" style="width:50%;display:table;margin:5px auto;"/>
            </article>
          {{ if .LocationFilter }}
                {{ if not .ComplementaryRemote }}
		<small>{{ len .Companies }} of {{ .TotalCompaniesCount }} Companies using Golang found {{ if .LocationFilter }}in <b>{{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}</b>{{ end }}</small><br />
                {{ end }}
            {{ else }}
                <small>{{ len .Companies }} of {{ .TotalCompaniesCount }} Companies using Golang found</small><br />
            {{ end }}
            <br />
            <nav>
              <ul>
                  {{ $cur := .CurrentPage }}
                  {{ $numPages := len .PageIndexes }}
                  {{ $moreThanOnePage := gt $numPages 1 }}
                  {{ $thisIsNotFirstPage := ne $cur 1 }}
                  {{ $prevPage := sub $cur 1 }}
                  {{ if and $thisIsNotFirstPage $moreThanOnePage }}
                        <li><a href="?p={{ $prevPage }}"><b>Prev</b></a></li>
                  {{ end }}
                  {{ range $p := .PageIndexes }}
                    {{ if eq $cur $p }}
                        <li><b>{{ $p }}</b></li>
                    {{ else }}
                        <li><a href="?p={{ $p }}"><b>{{ $p }}</b></a></li>
                    {{ end }}
                  {{ end }}
                  {{ $lastPage := last .PageIndexes }}
                  {{ $thisIsNotLastPage := ne $cur $lastPage }}
                  {{ $nextPage := add $cur 1 }}
                  {{ if and $thisIsNotLastPage $moreThanOnePage }}
                        <li><a href="?p={{ $nextPage }}"><b>Next</b></a></li>
                  {{ end }}
                  {{ if eq $numPages 0 }}
                    <li><a href="?p=1"><b>1</b></a></li>
                  {{ end }}
              </ul>
            </nav>
  </section>
  <footer>
	  <h4 style="margin-left: 9px;">Companies Using Golang{{ if .LocationFilter }} In {{ .LocationFilter }}{{ if .Region }}, {{ .Region }}{{ end }}{{ if .Country}}, {{ .Country }}{{ end }}{{ end }}</h4>
    <nav class="subnav" style="width:100%;">
	    <p style="padding: 10px;">
	    Go (Golang) is one of the most popular and fastest growing programming languages for general puprose Backend, Server and Infrastructure development. New companies like <b>{{ .TextCompanies }}</b> have started adopting Go each year and the demand for Go engineers has never been so strong. The Go (Golang) job market is thriving with hundreds and thousands of companies hiring Go engineers. From small startups to big Fortune 500 companies, are many showcasing the power of Go for reliability, resiliency, productivity and ease of use of the Go programming language. Here you can see most of the companies that have hired or are hiring Go engineers on Golang Cafe as of {{ .MonthAndYear }}. The last company has posted on Golang Cafe <time datetime="{{ .LastJobPostedAt }}">{{ .LastJobPostedAtHumanized }}</time>
	    </p>
    </nav>
    <h4 style="margin-left: 9px;">Get Hired{{ if .LocationFilter }} In {{ .LocationFilter }}{{ if .Region }}, {{ .Region }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }}{{ end }}</h4>
    <nav class="subnav" style="width:100%;">
        <ul>
            <li><a href="/Join-Golang-Community">Join the Golang Developers Community</a></li>
        </ul>
    </nav>
    <h4 style="margin-left: 9px;">Related To Companies Hiring Go Developers{{ if .LocationFilter }} In {{ .LocationFilter }}{{ if .Region }}, {{ .Region }}{{ end }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }}</h4>
    	<nav class="subnav">
        	<ul>
			<li><a href="/Golang-Developer-Salary-{{ if .LocationFilter }}{{ .LocationURLEncoded }}{{ else }}Remote{{ end }}">Average Salary For Golang Developers{{ if .LocationFilter }} in {{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }}</a></li>
			<li><a href="/Golang-Developers{{ if .LocationFilter }}-In-{{ .LocationURLEncoded }}{{ end }}">Golang Developers{{ if .LocationFilter }} in {{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }}</a></li>
			<li><a href="/Golang-Jobs-{{ if .LocationFilter }}In-{{ .LocationURLEncoded }}{{ else }}-Remote{{ end }}">Golang Jobs {{ if .LocationFilter }} in {{ .LocationFilter }}{{ if .Country }}, {{ .Country }}{{ end }}{{ end }}</a></li>
        	</ul>
    	</nav>
	<h4 style="margin-left: 9px;">Golang Jobs Searches Related To Companies Hiring Developers{{ if .LocationFilter }} in {{ .LocationFilter }}{{ end }}</h4>
    <nav class="subnav">
        <ul>
            <li><a href="/Remote-Golang-Jobs">Remote Golang Jobs</a></li>
            <li><a href="/Golang-Jobs-In-London">Golang Jobs in London</a></li>
            <li><a href="/Golang-Jobs-In-Berlin">Golang Jobs in Berlin</a></li>
            <li><a href="/Golang-Jobs-In-Amsterdam">Golang Jobs in Amsterdam</a></li>
            <li><a href="/Golang-Jobs-In-New-York">Golang Jobs in New York</a></li>
            <li><a href="/Golang-Jobs-In-San-Francisco">Golang Jobs in San Francisco</a></li>
        </ul>
    </nav>
    <nav class="subnav">
        <ul>
            <li><a href="/Golang-DevOps-Jobs">Golang DevOps Jobs</a></li>
            <li><a href="/Golang-Fintech-Jobs">Golang Fintech Jobs</a></li>
            <li><a href="/Golang-Blockchain-Jobs">Golang Blockchain Jobs</a></li>
            <li><a href="/Golang-Site-Reliability-Jobs">Golang Site Reliability Jobs</a></li>
            <li><a href="/Golang-Distributed-Systems-Jobs">Golang Distributed Systems Jobs</a></li>
            <li><a href="/Golang-Senior-Jobs">Golang Senior Jobs</a></li>
        </ul>
    </nav>
    <h4 style="margin-left: 9px;">Companies Hiring Golang Developers Worldwide</h4>
    <nav class="subnav">
        <ul>
            <li><a href="/Golang-Jobs-In-United-Kingdom">Golang Jobs in United Kingdom</a></li>
            <li><a href="/Golang-Jobs-In-Germany">Golang Jobs in Germany</a></li>
            <li><a href="/Golang-Jobs-In-Netherlands">Golang Jobs in Netherlands</a></li>
            <li><a href="/Golang-Jobs-In-USA">Golang Jobs in USA</a></li>
            <li><a href="/Golang-Jobs-In-Canada">Golang Jobs in Canada</a></li>
            <li><a href="/Golang-Jobs-In-Switzerland">Golang Jobs in Switzerland</a></li>
            <li><a href="/Golang-Jobs-In-Australia">Golang Jobs in Australia</a></li>
        </ul>
    </nav>
    <h4 style="margin-left: 9px;">Explore Golang Developer Salary Data</h4>
    <nav class="subnav">
        <ul>
            <li><a href="/Golang-Developer-Salary-Remote">Golang Developer Salary Remote</a></li>
            <li><a href="/Golang-Developer-Salary-London">Golang Developer Salary London</a></li>
            <li><a href="/Golang-Developer-Salary-Berlin">Golang Developer Salary Berlin</a></li>
            <li><a href="/Golang-Developer-Salary-Amsterdam">Golang Developer Salary Amsterdam</a></li>
            <li><a href="/Golang-Developer-Salary-New-York">Golang Developer Salary New York</a></li>
            <li><a href="/Golang-Developer-Salary-Paris">Golang Developer Salary Paris</a></li>
        </ul>
    </nav>
    <h4 style="margin-left: 9px;">Golang Cafe</h4>
    <nav class="subnav">
        <ul>
            <li><a href="/">Jobs</a></li>
            <li><a target="_blank" href="https://twitter.com/golangcafe">Golang Cafe on Twitter</a></li>
            <li><a target="_blank" href="https://github.com/golang-cafe/golang.cafe">Golang Cafe on GitHub (Open source)</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCq4YrlwwXwF74Z3g-VDae2w">Golang Cafe YouTube Channel</a></li>
            <li><a href="/rss">Golang Cafe RSS Feed</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="/about">About Golang Cafe</a></li>
            <li><a href="/terms-of-service">T&Cs</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
	</nav>
  </footer>
    <script>
        function isEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
        var getJSON = function(uri, cb) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', uri, true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    cb(xhr.status, JSON.parse(xhr.responseText));
                }
            }
        };
        var get = function(uri, cb) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', uri, true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    cb(xhr.status === 200);
                }
            }
        };
        var post = function(uri, formData, cb) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', uri, true);
            xhr.send(formData);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    cb(xhr.status);
                }
            }
        }
        function apply(howToApply, jobID) {
          get('/x/j/c/'+jobID, function() {
            document.getElementById('apply-job-id').value = jobID;
            document.getElementById('apply-box-0').style.display = 'block';
            document.getElementById('overlay-0').style.display = 'block';
            document.getElementById('apply-email-poster').innerHTML = howToApply;
          })
        }
        function displayJob(jobSlugID) {
            var jobNode = document.getElementById(jobSlugID);
            var toggleStatus = jobNode.getAttribute('data-toggle');
            if (toggleStatus == "off") {
                jobNode.style.display = 'block';
                jobNode.setAttribute('data-toggle', 'on');
            } else {
                jobNode.style.display = 'none';
                jobNode.setAttribute('data-toggle', 'off');
            }
        }
        function showname () {
            var name = document.getElementById('apply-cv');
            if (name.files && name.files.length > 0) {
              document.getElementById('apply-cv-label').innerHTML = name.files.item(0).name.replace(/[\u00A0-\u9999<>\&]/gim, function(i) {
                return '&#' + i.charCodeAt(0) + ';';
              });
            }
        };
    document
        .getElementById('search-location')
        .addEventListener('keyup', function(event) {
            event.preventDefault();
            if (event.keyCode !== 13) {
		document.getElementById('search-location-suggestions').style.display = 'none';
		getJSON('/x/loc/autocomplete?k='+document.getElementById('search-location').value.trim(), function(status, res) {
			if (status == 200 && typeof res != 'undefined') {
				var suggestions = '';
				for (var item of res) {
					var display = item.name;
					if (item.country) {
						display+=', '+item.country;
					}
					display+=' '+item.emoji;
					suggestions += '<div class="search-option" id="loc-option-'+item.name+'" data-val="'+item.name+'">'+display+'</div>';
				}
				if (suggestions != '') {
				  document.getElementById('search-location-suggestions').innerHTML = suggestions;
				  for (var item of res) {
					document.getElementById('loc-option-'+item.name).addEventListener('click', function(e) {
						document.getElementById('search-location').value = e.target.getAttribute('data-val');
						document.getElementById('search-location-suggestions').style.display = 'none';
					});
				  }
				  document.getElementById('search-location-suggestions').style.display = 'block';
				}
			}
		})
                return;
            }
            if (document.getElementById('search-location').value.trim() === '') {
                window.location.href = '/Companies-Using-Golang';
            }
	    if (document.getElementById('search-location').value.trim() !== '') {
                window.location.href = '/Companies-Using-Golang-In-'+encodeURIComponent(document.getElementById('search-location').value);
            }
        });
    document
        .getElementById('search-btn')
        .addEventListener('click', function() {
            if (document.getElementById('search-location').value.trim() === '') {
                window.location.href = '/Companies-Using-Golang';
            }
	    if (document.getElementById('search-location').value.trim() !== '') {
                window.location.href = '/Companies-Using-Golang-In-'+encodeURIComponent(document.getElementById('search-location').value);
            }
        });
    function hideEmailBanner() {
            document.getElementById('email-subscribe-banner').style.display = 'none';
	    document.getElementById('newsletter-banner').style.display = 'none';
    }
    function subscribe() {
        var email = document.getElementById('job-email-subscription').value;
        if (!isEmail(email)) {
            alert('Please enter a valid email address!');
            return;
        }
        get('/x/email/subscribe?email='+encodeURIComponent(email), function(success) {
            if (success) {
		hideEmailBanner();
                alert('Thanks for subscribing!');
                document.getElementById('job-email-subscription').value = '';
            } else {
                alert('Oops, there was an error with your subscription!');
            }
        });
    }
	document.getElementById('newsletter-banner-close').addEventListener('click', function(){
		document.getElementById('newsletter-banner').style.display = 'none';
	});
	document.getElementById('newsletter-banner-submit').addEventListener('click', function() {
		var email = document.getElementById('newsletter-banner-input').value;
		if (!isEmail(email)) {
			alert('Please enter a valid email address!');
			return;
		}
        	get('/x/email/subscribe?email='+encodeURIComponent(email), function(success) {
            		if (success) {
				hideEmailBanner();
                		alert('Thanks for subscribing!');
                		document.getElementById('newsletter-banner-input').value = '';
            		} else {
                		alert('Oops, there was an error with your subscription!');
            		}
        	});
	});
        function empty() {
            var isThere = true;
            for (var i = 0; i < arguments.length; i++) {
                isThere &= typeof arguments[i] === "undefined" ? false : arguments[i].trim() !== "";
            }
            return !isThere;
        };
        var postMessage = function(body, cb) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/x/s/message', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(body));
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    cb(xhr.status === 200);
                }
            }
        };
        document.getElementById('feedback-submit').addEventListener('click', function(event) {
		var email = document.getElementById('feedback-email').value;
		var message = document.getElementById('feedback-message').value;
		if (empty(email, message)) {
			alert('Email and message cannot be blank');
			return;
		}
		if (!isEmail(email)) {
			alert('Please enter a valid email address');
			return;
		}
		postMessage({email, message}, function(status) {
			if (status) {
				alert('Thanks for your message!');
			} else {
				alert('There was a problem posting your message. Please try again later or contact team@golang.cafe');
			}
			document.getElementById('feedback-email').value = '';
			document.getElementById('feedback-message').value = '';
			document.getElementById('feedback-box').style.display = 'none';
			document.getElementById('feedback').style.display = 'block';
		})
	});
    	document.getElementById('feedback').addEventListener('click', function(event) {
		document.getElementById('feedback').style.display = 'none';
		document.getElementById('feedback-box').style.display = 'block';
    	});
    	document.getElementById('feedback-title').addEventListener('click', function(event) {
		document.getElementById('feedback-box').style.display = 'none';
		document.getElementById('feedback').style.display = 'block';
    	});
    </script>

</body>
</html>
