{{ define "newsletter-banner-html" }}
{{ if not .LoggedUser }}
<div id="newsletter-banner">
    Get a weekly email with all new {{ .SiteJobCategory }} jobs
    <input id="newsletter-banner-input" type="text" placeholder="Your Email">
    <input id="newsletter-banner-submit" type="submit" value="Join {{ .EmailSubscribersCount }}+ others">
    <div id="newsletter-banner-close">x</div>
</div>
{{ end }}
{{ end }}
{{ define "newsletter-banner-css" }}
{{ if not .LoggedUser }}
<style>
#newsletter-banner{position: fixed;bottom: 0;left: 0;width: 100%;background: {{ .PrimaryColor }};color: #fff;text-align: center;z-index: 10;}@media only screen and (max-width: 768px) {#newsletter-banner{}}
#newsletter-banner-input,#newsletter-banner-submit{margin-top: 15px; margin-bottom: 15px;border: 1px solid #fff;}
#newsletter-banner-close{font-size: 1.5em;margin-left: .75em;margin-right: .5em;margin-top: 18px;float: right;cursor: pointer;z-index: 10;color: #fff;}
</style>
{{ end }}
{{ end }}
{{ define "newsletter-banner-js" }}
{{ if not .LoggedUser }}
<script>
document.getElementById('newsletter-banner-close').addEventListener('click', function () {
			document.getElementById('newsletter-banner').style.display = 'none';
		});
document.getElementById('newsletter-banner-submit').addEventListener('click', function () {
	var email = document.getElementById('newsletter-banner-input').value;
	if (!isEmail(email)) {
		alert('Please enter a valid email address!');
		return;
	}
	get('/x/email/subscribe?email=' + encodeURIComponent(email), function (success) {
		if (success) {
			hideEmailBanner();
			alert('Thanks for subscribing!');
			document.getElementById('newsletter-banner-input').value = '';
		} else {
			alert('Oops, there was an error with your subscription!');
		}
	});
});
</script>
{{ end }}
{{ end }}
